body{
  background: url(../images/background.jpg) no-repeat center center fixed; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.resultsDiv{
  margin: 5px;
  background: #e9e9e9d2; 
  margin-bottom: 15px; 
  }

  .theImg{
    height: 100px !important;
    width: auto !important;
    margin-left: 4px; 
    border-radius: 10px; 
  }

  .weather-card {
    border: 0 !important; 
    padding-bottom: 10px; 
    background: #f6f6f6; 
    margin-bottom: 10px; 
  }

  .date-header {
    background: #44a6c6;
    color: white; 
    margin-bottom: 0 !important; 
    padding-left: 4px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    font-size: 12pt !important; 
  }

  .hour-header {
    background: rgba(173, 216, 230, 0.651); 
    padding-left: 4px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    font-size: 11pt !important; 
  }

  .weather-data {
    font-size: 9pt; 
    padding-left: 4px; 
  }

  .news-card {
    border: 0 !important; 
    padding-bottom: 10px; 
    background: #e9e9e9d2; 
    margin-bottom: 15px; 
  }

  .news-title {
    margin-left: 4px; 
    margin-top: 4px; 
  }

  .news-date {
    margin-left: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

  .news-desc {
    margin-left: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

  .article-btn {
    width: 150px; 
    margin-left: 4px; 
  }

  p.news-date {
    margin-bottom: 4px !important; 
  }

  p.news-desc {
    margin-bottom: 4px !important; 
  }

  .biz-name {
    margin-left: 4px; 
    margin-top: 4px; 
    /* font-size: 16pt;  */
  }

  .event-name {
    margin-left: 4px; 
    margin-top: 4px; 
  }

  .yelpLink {
    margin-left: 4px; 
    margin-top: 6px; 
    margin-bottom: 6px; 
  }

  .yelp-price {
    margin-left: 4px; 
    margin-bottom: 6px;
  }

  .yelp-btn {
    width: 150px; 
    margin-left: 4px; 
  }

