/* ***************** UNIVERSAL STYLES*************** */

body{
  background: url(../images/background.jpg);
  background-size: cover; 
  color: #236E96; 

}
h1{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #000066; 
  font-size: 42px;   
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 1%; 
  font-size: 12px; 
  color: #236E96; 
  background-color: #F3872F;
}
form{
  padding: 0 2%;
  background-color: #F3872F;
  color: #000066; 
}

.yelp-div{
form img{
  width: 15%; 
}
.form-group{
  width: 25%; 
}

#inputCity{
  width: 50%; 
}
.resultsDiv{
  margin: 5px;
  background: #e9e9e9d2; 
  margin-bottom: 15px; 
  }

  .ticketmaster-div {
    margin: 5px;
    background: #e9e9e9d2; 
    margin-bottom: 15px; 

  }

  .theImg{
    height: 100px !important;
    width: auto !important;
    margin-left: 4px; 
    border-radius: 10px; 
    margin-top: 6px; 
    margin-bottom: 6px; 
  }

  .weather-card {
    border: 0 !important; 
    padding-bottom: 10px; 
    background: #f6f6f6; 
    margin-bottom: 10px; 
  }

  .date-header {
    background: #44a6c6;
    color: white; 
    margin-bottom: 0 !important; 
    padding-left: 4px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    font-size: 12pt !important; 
  }

  .hour-header {
    background: rgba(173, 216, 230, 0.651); 
    padding-left: 4px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    font-size: 11pt !important; 
  }

  .weather-data {
    font-size: 9pt; 
    padding-left: 4px; 
  }

  .news-card {
    border: 0 !important; 
    padding-bottom: 10px; 
    background: #e9e9e9d2; 
    margin-bottom: 15px; 
  }

  .news-title {
    margin-left: 20px !important; 
    margin-top: 20px !important; 
  }

  .events-title {
    margin-left: 20px !important; 
    margin-top: 20px !important; 
  }

  .news-date {
    margin-left: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

  .news-desc {
    margin-left: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

  .source {
    margin-left: 4px; 
    margin-bottom: 8px !important; 
  }

  .article-btn {
    width: 150px; 
    margin-left: 4px; 
  }

  p.news-date {
    margin-bottom: 4px !important; 
  }

  p.news-desc {
    margin-bottom: 4px !important; 
  }

  #fav-events0{
    display: inline-flex; 
    /* flex-grow: 5;  */
  }
  .biz-name {
    margin-left: 4px; 
    margin-top: 4px; 
    /* font-size: 16pt;  */
  }

  .event-name {
    margin-left: 4px; 
    margin-top: 4px; 
  }

  .yelpLink {
    margin-left: 4px; 
    margin-top: 6px; 
    margin-bottom: 6px; 
  }

  .yelp-price {
    margin-left: 4px; 
    margin-bottom: 6px;
  }

  .yelp-btn {
    width: 150px; 
    margin-left: 4px; 
  }

  .add-fav-btn {
    width: 150px; 
    margin-top: 10px; 
    margin-left: 4px; 
    margin-bottom: 10px;
    color: black !important; 
    background: #44a6c6 !important; 
    border-color: #44a6c6 !important; 
  }

  .price {
    margin-left: 4px; 
    margin-right: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
    margin-bottom: 5px; 
  }

  .card.resultsDiv {
    border: 0 !important; 
  }

  .yelp-loc {
    margin-left: 4px; 
    margin-right: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

  .sport-date {
    margin-left: 4px; 
    margin-right: 4px; 
    color: rgb(119, 115, 115) !important;
    font-size: 11pt; 
  }

